<div class="container">
    <div class="row box m-1 mt-5 pt-3" *ngFor="let tutorial of Tutorials">
        <div class="col-12 mb-3" *ngIf="tutorial.Title">
            <h1 class="display-6">{{tutorial.Title}}</h1>
        </div>
        <div class="col-12 mb-3" *ngIf="tutorial.Abstract">
            <h3 class="lead">{{tutorial.Abstract}}</h3>
        </div>
        <hr class="mb-30" style="width:50vw" />
        <div class="col-12 mb-3" *ngIf="tutorial.Description">
            <p>{{tutorial.Description}}</p>
        </div>
        <ng-container *ngFor="let imageUrl of tutorial.ImageUrls">
            <div class="col-12 mb-3" *ngIf="imageUrl">
                <div>
                    <img [src]="imageUrl" class="img-fluid">
                </div>
            </div>
        </ng-container>
        <ng-container *ngFor="let videoUrl of tutorial.VideoUrls">
            <div class="col-12 mb-3" *ngIf="videoUrl">
                <div class="video-container">
                    <iframe
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" [src]="SecureUrl(videoUrl)"
                        allowfullscreen></iframe>
                </div>
            </div>
        </ng-container>
    </div>
</div>